{% extends "base.html" %}

{% block content %}

<article id="small-panel">

    <form action="{% url 'recipeFinder:recipe_detail' id %}" method="post">
    <!-- csrf_token to protect against XSS attacks -->
    {% csrf_token %}
    <!-- Display different icons depending on whether the user has the recipe saved-->
    {% if is_saved %}
        <button type = submit title = "Save recipe" class = "savebutton"><img src="../../static/save_icon_active.png" /></button>
    {% else %}
        <button type = submit title = "Save recipe" class = "savebutton"><img src="../../static/save_icon_inactive.png" /></button>
    {% endif %}
    </form>

    <header>
        <h3>{{ name }}</h3>
    </header>

    <center>
    Yield: {{ yield }}
    Prep time: {{ totalTime }}
    </center>
    <br>

    <!-- display the first large or small thumbnail, if available -->
    {% if images.0.hostedLargeUrl %}
        <br>
        <img src = {{ images.0.hostedLargeUrl }} class = "center" >
        <br>
    {% elif images.0.hostedSmallUrl %}
        <br>
        <img src = {{ images.0.hostedSmallUrl }} class = "center" >
        <br>
    {% endif %}

    <!-- display ingredients -->
    <ul class="center">
    {% for line in ingredientLines %}
        <li>
        {{line}}
        </li>
    {% endfor %}
    </ul>

    <br>

    <form action="{% url 'recipeFinder:index' %}" method="post">
		{% csrf_token %}
		<input type="submit" value="Back to Search Results" />
	</form>

</article>

{% endblock %}