{% extends "base.html" %}
{% load mathfilters %}

{% block content %}

<article id="small-panel">

    {% if course %}
        <form action="{% url 'recipeFinder:recipe_detail' id course.0 %}" method="post">
    {% else %}
        <form action="{% url 'recipeFinder:recipe_detail' id %}" method="post">
    {% endif %}
    <!-- csrf_token to protect against XSS attacks -->
    {% csrf_token %}
    <!-- Display different icons depending on whether the user has the recipe saved-->
    {% load static %}
    {% if is_saved %}
        <button type = submit title = "Save recipe" class = "savebutton"><img src="{% static 'img/save_icon_active.png' %}" /></button>
    {% else %}
        <button type = submit title = "Save recipe" class = "savebutton"><img src="{% static 'img/save_icon_inactive.png' %}" /></button>
    {% endif %}
    </form>

    <header>
        <h3>{{ name }}</h3>
    </header>

    <center>
    Yield: {{ yield }}<br>
    Prep Time: {{ totalTime }}<br>
    {% if course %}
    Category: {{ course }}
    {% else %}
    Category: None
    {% endif %}
    </center>
    <br>
    <!-- display star ratings -->
    <div class="star-ratings">
    <div class="star-ratings-top" style="width: {{ rating|div:5.0|mul:100 }}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    <div class="star-ratings-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    </div>

    <!-- display the first large or small thumbnail, if available -->
    {% if images.0.hostedLargeUrl %}
        <br>
        <img src = {{ images.0.hostedLargeUrl }} class = "center" >
        <br>
    {% elif images.0.hostedSmallUrl %}
        <br>
        <img src = {{ images.0.hostedSmallUrl }} class = "center" >
        <br>
    {% endif %}

    <!-- display ingredients -->
    <ul class="center">
    {% for line in ingredientLines %}
        <li>
        {{line}}
        </li>
    {% endfor %}
    </ul>

    {% if source.sourceRecipeUrl %}
        <p><a href="{{ source.sourceRecipeUrl }}">{{ source.sourceRecipeUrl }}</a></p>
    {% endif %}

    <form action="{% url 'recipeFinder:index' %}" method="post">
		{% csrf_token %}
		<input type="submit" value="Back to Search Results" />
	</form>

</article>

{% endblock %}

<script>
$(document).ready(function() {
  // get span width of the filled ratings
  var star_rating_width = $('.star-ratings-top').width();
  // set container to span width for mobile correctness
  $('.star-ratings').width(star_rating_width);
});
</script>