{% extends "base.html" %}

{% block content %}

<article id="small-panel">
	<header>
		<h3>Recipe Finder</h3>
	</header>

	<h4>Choose items from your inventory to get a recipe!</h4>
	<form action="{% url 'recipeFinder:inventory-check' %}" method="get">
		<input type="submit" value="Pick from your inventory!" />
	</form>

	<br>

	<h4>Find recipes on anything you want!</h4>
	<form action="{% url 'recipeFinder:freedom' %}" method="get">
		<input type="submit" value="Search for recipes!" />
	</form>

	<br>

	<h4>Let us show you recipes you might be interested in!</h4>
	<form action="{% url 'recipeFinder:suggestions' %}" method="get">
		<input type="submit" value="I'm feeling lucky!" />
	</form>

</article>

{% endblock %}
