{% extends "base.html" %}

{% block content %}

<article id="small-panel">
	<header>
		<h3>Recipe Finder</h3>
	</header>

	<h4>Discover new recipes!</h4>
	<form action="{% url 'recipeFinder:recipe_search' %}" method="get">
		<input type="submit" value="Search for recipes!" />
	</form>

	<br>

	<h4>Let us show you recipes you might be interested in!</h4>
	<form action="{% url 'recipeFinder:suggestions' %}" method="get">
		<input type="submit" value="I'm feeling lucky!" />
	</form>

</article>

{% endblock %}
