{% extends "base.html" %}

{% block content %}

<article id="small-panel">
  <header>
    <h3>Pick ingredients from your inventory!</h3>
  </header>

  {% if search_saved %}
  <form action="{% url 'recipeFinder:search-saved' %}" method="post">
  {% else %}
  <form action="{% url 'recipeFinder:inventory-check' %}" method="post">
  {% endif %}
    {% csrf_token %}
    {% for item in inventory_items %}
    <input type="checkbox" name="checked" id="item{{ forloop.counter }}"
    value="{{ item.name}}" />
    <label for="item{{ forloop.counter }}">{{ item.name }}</label> <br />
    {% endfor %}
    <br>
    <input type="submit" value="Get recipes!" />
  </form>

  {% endblock %}
