{% extends "base.html" %}

{% block content %}

<article id="small-panel">
    {% if inventory_items %}
    <header>
        <h3>Select items from your inventory.</h3>
    </header>
    {% endif %}
    <form action="{% url 'recipeFinder:recipe_search' %}" method="post">
        {% csrf_token %}
        {% for item in inventory_items %}
        <input type="checkbox" name="checked" id="item{{ forloop.counter }}"
               value="{{ item }}"/>
        <label for="item{{ forloop.counter }}">{{ item }}</label> <br/>
        {% endfor %}
        <br>
    {% if inventory_items %}
        <header>
            <h3>Enter additional ingredients below.</h3>
        </header>
    {% else %}
        <header>
            <h3>Type in the ingredients that you want to make a recipe with.</h3>
        </header>
    {% endif %}
        {{ ingredient_formset.management_form }}

        {% for ingredient_form in ingredient_formset %}
        <div class="ingredient-formset">
            <p>
                {{ ingredient_form.item }}
                {% if ingredient_form.value.errors %}
                {% for error in ingredient_form.value.errors %}
                {{ error|escape }}
                {% endfor %}
                {% endif %}
            </p>
        </div>
        {% endfor %}
        <br>
        <br>
        In the mood for anything in particular?<br>
        <input type="text" name="search_phrase" value="">
        <br>
        <br>
        <input type="submit" value="Search!"/>
        <br>
        <br>
    </form>
    <form action="{% url 'recipeFinder:suggestions' %}" method="get">
           <input type="submit" value="I'm feeling lucky!" />
    </form>
</article>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/scripts/jquery.formset.js"></script>
<script>
    // add an autocomplete handler to a form
    function attachAutocomplete(form) {

        form
        // don't leave form field on tab-selecting an item
        .on("keydown", function(event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
        })
        .autocomplete({
            formatItem: function(row) {
                return row[1];
            },
            autoFocus: true,
            minLength: 1,
            delay: 0,
            source: function (request, response) {
                var resultLimit = 8;
                var results = $.map({{ food_suggestions|safe }}, function (food) {
                    if (food.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
                        return food;
                    }
                });
            response(results.slice(0, resultLimit));
            }
        });
    }
    // initialize the very first autocomplete handler
    $(function() {
    attachAutocomplete($('.autocomplete'));
    })

    $('.ingredient-formset').formset({
        addText: 'Add Ingredient',
        deleteText: 'Remove Ingredient',
        added: function(row) {
            var form = row.find('.autocomplete');
            // unbind previous autocomplete handlers
            form.unbind();
            // add new autocomplete handler
            attachAutocomplete(form);
            // set focus to new form
            form.focus();
        }
    });

</script>

{% endblock %}
