{% extends "base.html" %}

{% block content %}

<article id="small-panel">

    <form action="{% url 'recipes:delete_recipe' recipe.id %}" method="post">
	    <!-- csrf_token to protect against XSS attacks -->
	    {% csrf_token %}
        {% load static %}
        <button type = submit title = "Delete recipe" class = "savebutton"><img src="{% static 'img/save_icon_active.png' %}" /></button>
    </form>

    <header>
        <h3>{{ recipe.name }}</h3>
    </header>

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	        <strong>
	        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
	        </p></strong>
	    {% endfor %}
	</ul>
	{% endif %}


    <center>
    Yield: {{ recipe.servings }}<br>
	Prep time: {{ recipe.prepTime }}<br>
	Category: {{ recipe.category }}
    </center>

	<!-- user-uploaded ImageField -->
	{% if recipe.image %}
	    <br>
	    <img src = {{ recipe.image.url }} class = "center" >
	    <br>
	{% endif %}

	<!-- Yummly image url -->
	{% if recipe.imageUrl %}
	<br>
	<img src = {{ recipe.imageUrl }} class = "center" >
	<br>
	{% endif %}

	<!-- display ingredients -->
	{% if ingredients %}
	<ul class="center">
		{% for ingredient in ingredients %}
		<li>{{ ingredient.ingredient }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if recipe.instructions %}
		<div style="white-space: pre-line; text-indent: 0;">
			{{ recipe.instructions }}
		</div>
	{% endif %}

	{% if recipe.externalLink %}
		<p>External Link:<br>
			{% if recipe.yummlyId %}
			<span class="helptext">
				This recipe was imported using a Yummly search. Follow the external link to view
				instructions on how to make this recipe!
			</span>
			{% endif %}
			<a href="{{ recipe.externalLink }}">{{ recipe.externalLink }}</a>
		</p>	
	{% endif %}	

	{% if not recipe.yummlyId %}
	<form action="{% url 'recipes:edit_recipe' recipe.id %}">
		<input type="submit" value="Edit Recipe" /><br></br>
	</form>
	{% endif %}

	<input type="button" onclick="window.location.href ='{% url 'recipes:index' %}'; return false;" value="Back" />

</article>

{% endblock %}