{% extends "base.html" %}

{% block content %}

<article id="small-panel">
    <header>
        <h3>{{ recipe.name }}</h3>
    </header>

<ul>
{% for fooditem in recipe.fooditems.all %}
    <li>Recipe calls for {{ fooditem.quantity }} {{ fooditem.name }}</li>
{% endfor %}
</ul>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <strong>
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
        </p></strong>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'recipes:index' %}">View all recipes</a>

</article>

{% endblock %}