body {
	margin: 0 auto;
	background-color: #f8f9fa;
	height: 100%;
}

.clear {
	clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.savebutton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  outline: none;
  float: right;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #c0c0c0;
  font-size: 25px;
  height: 25px;
  width: 104px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #868e96;
  bottom: 20px;
}
  .star-ratings-top {
    color: #f76707;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;

    span {
      display: inline-block;
    }
  }
  .star-ratings-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

article#small-panel {
	width: 400px;
	margin: 0 auto;
	padding: 25px;
	margin-top: 30px;
}

article#small-panel header {
	text-align: center;
	font-size: .9em;
}

article#small-panel label {
	font-size: 1.1em;
}

article#small-panel .helptext, li {
	font-size: .9em;
	color: #868e96;
}

article#small-panel .errorlist li {
	font-size: .9em;
	color: #c92a2a;
}

article#small-panel
	input[type=url],
	input[type=text], 
	input[type=email],
	input[type=password],
	input[type=textarea],
	input[type=number] {
	width: 98%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #ced4da;
	padding-left: 5px;
	font-size: .9em;
	color: #000;
}

article#small-panel
	input[type=number] {
	width: 98%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #ced4da;
	padding-left: 5px;
	font-size: .9em;
	color: #000;
	text-align: right;
}

textarea {
	width: 95%;
	border-radius: 5px;
	border: 1px solid #ced4da;
	padding-left: 5px;
	font-size: 1.3em;
	color: #000;
	resize: vertical;
}

select {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #ced4da;
	padding-left: 5px;
	font-size: .9em;
	color: #000;
}

article#small-panel input[type=submit] {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #f76707;
	background-color: #f76707; 
	padding-left: 5px;
	font-size: .9em;
	color: #f2f2f2;
}

article#small-panel input[type=button] {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #e9ecef;
	background-color: #e9ecef;
	padding-left: 5px;
	font-size: .9em;
	color: #000;
}

article input[type=submit] {
	height: 35px;
	border-radius: 5px;
	border: 1px solid #f76707;
	background-color: #f76707; 
	padding-left: 5px;
	font-size: .9em;
	color: #f2f2f2;
}

article input[type=button] {
	height: 35px;
	border-radius: 5px;
	border: 1px solid #e9ecef;
	background-color: #e9ecef;
	padding-left: 5px;
	font-size: .9em;
	color: #000;
}

@media screen and (max-width: 500px) {
	article#small-panel {
		width: 85%;
		padding-left: 0px;
		padding-right: 0px;
		background-color: #f8f9fa;
		border: none;
	}
}

/************************************************/
/************************************************/
/************************************************/

.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 3px #dee2e6;
  z-index: 2;
}

.navbar a.logo {
	float: left;
  	display: block;
  	padding: 8px;
  	margin-left: 5px;
}

.navbar a.directory {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 12px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 1em;
}
.navbar a.menu {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 12px;
  margin-top: 10px;
  text-decoration: none;
  font-size: 1em;
}

/* keep a hidden logout url on the left for mobile dropdown*/
.navbar #logout-mobile {
  display: none;
}

/* avoid 'sticky' hover background issue on mobile devices */
.navbar a:not(:focus):hover {
  background: #fcd7b8;
}

.navbar a:focus {
  outline: none;
}

/* keep a hidden menu icon on the left for mobile dropdown*/
.navbar #nav-right a.menu {
  display: none;
}

#nav-left {
	float: left;
}

#nav-right {
	float: right;
}

#nav-right a.directory {
	float: right;
}
#nav-right a.menu {
	float: right;
}

.navbar input[type=text] {
    float: right;
    padding: 5px;
    border: none;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 1em;
    width: 300px;
}

/* At 600px and below, hide navbar links (except home) under a menu */
@media screen and (max-width: 600px) {
  .navbar #nav-left a:not(:first-child) {display: none;}
  .navbar #nav-right a:first-child{display: none;}
  .navbar #nav-right a.menu {
   float: right;
   display: block;
  }
}

/* for actually displaying the vertical dropdown menu */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive #nav-right a.menu {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive #nav-left a {
    float: none;
    display: block;
    text-align: left;
  }
}

/************************************************/
/************************************************/
/************************************************/

#main {
  padding: 16px;
  margin-top: 50px;
  background-color: #f8f9fa;
}

#content-wrapper {
	width: 1366px;
	height: 100%;
	max-height: 100%;
	margin: 0 auto;
}

@media screen and (max-width: 1400px) {
	#content-wrapper {
		width: 90%;
	}
}

/* When the screen is less than 750px wide, 
make sure the content isn't hidden by the 
menu by default */
@media screen and (max-width: 750px) {
	#main {
		margin-top: 100px;
	}
}

@media (max-width: 460px) {
	#main {
		margin-top: 100px;
		width: 100%;
		padding: 0px;
		top: 0;
	}
	#content-wrapper {
		width: 100%;
		margin: 0px 0px 0px 0px;
	}
}

@media (max-width: 320px) {
	#main {
		width: 320px;
	}
	#content-wrapper {
		width: 320px;
	}
}

article {
	/*padding-top: 25px;*/
	margin-top: 20px;
	border: 1px solid #ced4da;
	border-radius: 5px;
	background-color: #fff;
}

article header {
	line-height: 1.5;
	font-size: 1.2em;
	text-align: left;
	margin: 10px 25px 15px 25px;
	display: block;
}

article section {
	line-height: 1.5;
	font-size: 1em;
	text-align: left;
	padding-left: 25px;
	padding-bottom: 10px;
	border-top: 1px solid #ced4da;
}

article a:link {
	text-decoration: none;
	color: #f76707;
	border-bottom: 1px dotted #f76707;
}

article a:visited {
	color: #ff922b;
}

article img.full {
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-left: 0;
	margin-top: 2em;
	margin-bottom: 2em;
	border: solid 6px #B8B5AD;
}

article img.right {
	display: block;
	float: right;
	margin: 1.5em;
	border: solid 6px #B8B5AD;
}

@media (max-width: 700px) {
	article img.right {
		width: 90%;
		display: block;
		margin: 4 auto;
		float: none;
	}
}

p .warning {
	text-align: center;
	color: #d9480f;
}

/************************************************/
/************************************************/
/************************************************/

.recipe-preview {
	text-align: center;
	display: inline-block;
	height: 225px;
	width: 250px;
	margin-right: 10px;
}

.recipe-preview img {
	height: 125px;
}

.inventory-preview {
	text-align: left; 
	display: inline-block;
	height: 200px; 
	width: 250px; 
	margin-right: 10px;
}

.inventory-preview-no-list {
	text-align: left; 
	display: inline-block; 
	height: 100px; 
	width: 250px; 
	margin-right: 10px;
}


@media (max-width: 700px) {
	.recipe-preview {
		display: block;
		margin: 0 auto;
	}

	.inventory-preview {
		display: block;
		margin: 0 auto;
		height: 175px;
	}

	.inventory-preview-no-list {
		display: block;
		margin: 0 auto;
	}
}



.pagination {
	text-align: center; 
	font-size: 1.2em;
}

.pagination a {
	border-bottom: none; 
	margin: 5px;
}

.pagination span {
	margin: 5px;
}

table {
    width: 100%; 
    border: none;
    background-color: white;
    border-collapse:collapse;
    text-align: center;
    font-size: 1.1em;
}

td, th {
    padding: 5px; 
    border: none;
}

th.stats-date {
    border-left: 2px solid #dee2e6;
}

table tr td.stats-green {
	background-color: #69db7c;
	border: none;
}

table tr td.stats-yellow {
	background-color: #ffd43b;
	border: none;
}

table tr td.stats-red {
	background-color: #ff8787;
	border: none;
}

td:first-child, th:first-child {
     border-bottom: 2px solid #dee2e6;
}

