{% extends "base.html" %}

{% block content %}

<article id="small-panel">

    <form action="" method="post">
        <!-- csrf_token to protect against XSS attacks -->
        {% csrf_token %}
        {% load static %}
        <button type = submit title = "Delete Grocery List" class = "savebutton"><img src="{% static 'img/save_icon_active.png' %}" /></button>
    </form>

    <header>
        <h3>{{ grocery_list.name }}</h3>
    </header>

    <span class="helptext" style="text-align: center;">
        Manage your grocery list by adding items, deleting items, and marking items as added to your inventory.
    </span>
    <br>
    <br>

    <form action="{% url 'groceryList:update' grocery_list.id %}" method="post">
        {% csrf_token %}

        {% if grocery_items %}
        {% for item in grocery_items %}
        <div data-role="grocery_item">
            <label>{{ item.name }}</label><br>
            <input data-role="quantity" 
                type="number" 
                required 
                style="width:75%; text-align: right;" 
                min="1" 
                max="100" 
                value="{{ item.quantity }}" 
                {% if item.confirmed %} disabled {% endif %}
                name="quantity_item_{{ item.id }}"
                id="quantity_item_{{ item.id }}">
            <div style="float:right;">

                <i aria-hidden="true" 
                   data-action="delete" 
                   data-actionable="{{ item.confirmed|yesno:'False,True' }}" 
                   data-list-id="{{ grocery_list.id }}" 
                   data-grocery-item-id="{{ item.id }}" 
                   style="margin-right: 10px; margin-top: 10px;
                    {% if item.confirmed %} 
                    color:#adb5bd;
                    {% else %}
                    color:#c92a2a;
                    {% endif %}"
                   class="far fa-trash-alt fa-lg" >       
                </i>
                
                <i aria-hidden="true" 
                   data-action="confirm" 
                   data-actionable="{{ item.confirmed|yesno:'False,True' }}" 
                   data-list-id="{{ grocery_list.id }}" 
                   data-grocery-item-id="{{ item.id }}"
                   style="margin-right: 10px; margin-top: 10px;
                    {% if item.confirmed %} 
                    color:#adb5bd;
                    {% else %}
                    color:#2f9e44;
                    {% endif %}"
                   class="fas fa-check fa-lg">
                    
                </i>
            </div>
            <br><br>
        </div>
        {% endfor %}
        {% endif %}
    
        <hr>
        <p><label>Item:</label><br>
            <span class="helptext">
                Add items to your grocery list and connect them to inventory item to get meal suggestions and automatically update inventory quantities.
            </span><br>
            {{ item_form.name }}
            <!--{{ item_form.inventory_item }}-->
        </p>
        <p><label>Quantity:</label>{{ item_form.quantity }}</p>

        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} style="color: #c92a2a;" class="{{ message.tags }}"{% endif %}>{{ message }}
                </div><br>
            {% endfor %}
        {% endif %}

        <input type="submit" value="Save" />
    </form>

    <br>
    <input type="submit" onclick="window.location.href ='{% url 'barcodeScan:index' %}'; return false;" value="Scan Item" />

    <br><br>
    <input type="button" onclick="window.location.href ='{% url 'groceryList:index' %}'; return false;" value="Back" />

</article>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
$(document).ready(function() {
    $('[data-role=grocery_item]').on('click', '[data-action=delete]', function(e){
        var $grocery_item = $(e.delegateTarget);
        var $delete = $(e.currentTarget);
        var grocery_list_id = $delete.data("list-id");
        var grocery_item_id = $delete.data("grocery-item-id");
        var actionable = $delete.data("actionable");

        if (actionable == 'True') {
            var delete_path = "/groceryList/" + grocery_list_id + "/" + grocery_item_id + "/delete"
            $.get(delete_path, function(data) {
                $grocery_item.remove();
            });
        }
    });
});

$(document).ready(function() {
    $('[data-role=grocery_item]').on('click', '[data-action=confirm]', function(e){
        var $grocery_item = $(e.delegateTarget);
        var $quantity = $grocery_item.find('[data-role=quantity]');
        var $delete = $grocery_item.find('[data-action=delete]');
        var $confirm = $(e.currentTarget);
        var grocery_list_id = $confirm.data("list-id");
        var grocery_item_id = $confirm.data("grocery-item-id");
        var actionable = $confirm.data("actionable");

        if (actionable == 'True') {
            var confirm_path = "/groceryList/" + grocery_list_id + "/" + grocery_item_id + "/confirm"
            $.get(confirm_path, {quantity: $quantity.val()}, function(data) {
                $quantity.attr("disabled", "true");
                // makes it so that you cannot delete the item or update the quantity
                $confirm.attr("data-actionable", "False");
                $delete.attr("data-actionable", "False");

                // updates the color of the trash and check mark icon since a full 
                // postback doesn't happen
                $confirm.css('color', '#adb5bd');
                $delete.css('color', '#adb5bd');
            });
        }
    });
});
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
    $( "#{{ item_form.name.id_for_label }}" ).autocomplete({
      autoFocus: true,
      minLength: 1,
      delay: 0,
      source: function (request, response) {
             var resultLimit = 8;
             var results = $.map({{ inventory_items|safe }}, function (food) {
                 if (food.toUpperCase().indexOf(request.term.toUpperCase()) === 0) {
                     return food;
                 }
             });
            response(results.slice(0, resultLimit));
       }
    });
    } );
</script>
{% endblock %}