{% extends "base.html" %}

{% block content %}

<article id="small-panel">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <strong>
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
            </p></strong>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'groceryList:add' %}" method="post">{% csrf_token %}
        {% if food_name %}
            <input type="hidden" name="food_name" value="{{ food_name }}">
        {% endif %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>

    <a href="{% url 'groceryList:index' %}">View all grocery lists</a>

</article>

{% endblock %}
