{% extends "base.html" %}

{% block content %}

<article id="small-panel">
    <header>
        <h3>Add New Grocery List</h3>
    </header>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <strong>
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
            </p></strong>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="{% url 'groceryList:add' %}" method="post">
        {% csrf_token %}
        {% if food_name %}
            <!-- Used to add items from the barcode scanner to the grocery list -->
            <input type="hidden" name="food_name" value="{{ food_name }}">
        {% endif %}
        {{ form }}
        <br>
        <br>
        <input type="submit" value="Submit" />
    </form>

    <br>
    <input type="button" onclick="window.location.href ='{% url 'groceryList:index' %}'; return false;" value="Cancel" />

</article>

{% endblock %}
