<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcode Scanner</title>
</head>
<body>

<h1>Barcode Scanner</h1>

Select a grocery list to add this item to:

<br>
<br>

<!-- if the product has an image_front_url, display it -->
{% if image_front_url %}
    <img src={{ image_front_url }}>
{% endif %}

<br>

<!-- display the food's name -->
{{food_name}}

<br>
<br>

Select a grocery list

<form action="{% url 'barcodeScan:add_to_list' %}" method="post">
    <!-- csrf_token to protect against XSS attacks -->
    {% csrf_token %}
    <!-- pass back the food's name so it can be added to the db -->
    <input type="hidden" name="food_name" value="{{ food_name }}">
    {% if all_grocery_lists %}
        <select name="selected_grocery_list">
            {% for list in all_grocery_lists %}
                <option value = {{list.id}}>{{ list.name }}</option>
            {% endfor %}
                </select>
    {% else %}
        <p>No grocery lists are available.</p>
    {% endif %}

    <input type="submit" value="Add to grocery list" />
    <input type="button" onclick="window.location.href ='/barcode/';return false;" value="Cancel" />
</form>

</body>
</html>