{% extends "base.html" %}

{% block content %}

<article id="small-panel">
	<header>
		<h3>Barcode Scanner</h3>
		<p>For a demo, try: 737628064502</a></p>
	</header>
	
	<form action="/barcode/" method="post">
	    <!-- csrf_token to protect against XSS attacks -->
	    {% csrf_token %}

	    <label for="id_number">Barcode Number:</label>
	    <p>
	    	<input type="text" name="number" maxlength="13" id="id_number" required>
	    </p>
	    <input type="submit" value="Scan" />
	</form>
</article>

{% endblock %}