{% extends "base.html" %}

{% block content %}

<article id="small-panel">
	<header>
		<h3>Barcode Scanner</h3>
		<p>
      For a demo, try a few:
      <table style="margin: 0 auto;">
        <tr>
           <td>5449000000996</td>
        </tr>
        <tr>
           <td>87157246</td>
        </tr>
        <tr>
           <td>009800895007</td>
        </tr>
        </tr>
          <td>0070796300035 </td>
      </table>
    </p>
	</header>

    <form action="{% url 'barcodeScan:index' %}" method="post">
        <!-- csrf_token to protect against XSS attacks -->
        {% csrf_token %}
        {{ form }}<br><br>
        <input type="submit" value="Scan" />
    </form>

</article>

{% endblock %}