{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>MyMeal</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="/static/css/stylesheet.css" />
    	<!-- used for importing icons -->
    	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
        	<!-- TODO; implement collapsing navigation -->
        	<a href= "#"><i class="fas fa-bars fas-lg"></i></a>
        	<div id="nav-left">
        	  	<a href="{% url 'dashboard:index' %}">Home</a>
        	  	<a href="{% url 'inventory:index' %}">Inventory</a>
        	  	<a href="{% url 'recipes:index' %}">Recipes</a>
        	  	<a href="{% url 'groceryList:index' %}">Grocery Lists</a>
              <a href="{% url 'recipeFinder:index' %}">Recipe Search</a>
              <a href="{% url 'stats:index' %}">Stats</a>
              <a href="{% url 'barcodeScan:index' %}">Scan Code</a>
        	</div>
          	<div id="nav-right">
          		<a href="{% url 'auth_logout' %}">Log out</a>
          		<!--<input type="text" placeholder="Search...">-->
        	</div>
        </div>

        <div id="main">
            <div id="content-wrapper">
        		{% block content %}{% endblock %}
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>
