{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>MyMeal</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="/static/css/stylesheet.css" />
      <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    	<!-- used for importing icons -->
    	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar" id="myNavbar">
        	<!-- TODO; implement collapsing navigation -->
        	<div id="nav-left">
              <a class="logo" href= "{% url 'dashboard:index' %}">
                <img src="/static/img/MyMealFinal_Orange.png" style="height:40px;">
              </a>
        	  	<a class="directory" href="{% url 'inventory:index' %}">Inventory</a>
        	  	<a class="directory" href="{% url 'recipes:index' %}">Recipes</a>
        	  	<a class="directory" href="{% url 'groceryList:index' %}">Grocery Lists</a>
                <a class="directory" href="{% url 'stats:index' %}">Stats</a>
                <a class="directory" href="{% url 'auth_logout' %}" id="logout-mobile">Log Out</a>
        	</div>
          	<div id="nav-right">
          		<a class="directory" href="{% url 'auth_logout' %}" id="logout">Log Out</a>
                <a href="javascript:void(0);" class="menu" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
          		<!--<input type="text" placeholder="Search...">-->
        	</div>
        </div>

        <div id="main">
            <div id="content-wrapper">
        		{% block content %}{% endblock %}
          </div>
        </div>
    </body>
    <script>
        /* display responsive vertical menu for small screens */
        function myFunction() {
          const navbar = document.getElementById("myNavbar");
          if (navbar.className === "navbar") {
            navbar.className += " responsive";
            document.getElementById("main").style.marginTop='40px';
          } else {
            navbar.className = "navbar";
            document.getElementById("main").style.marginTop='100px';
          }
        }
    </script>
</html>
